.App-style{
  background-color: #faeefa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* https://fonts.google.com/specimen/Ubuntu */
  font-family: 'DynaPuff', cursive;
  font-family: 'Ubuntu', sans-serif;
}

.header-style {
  color:#d281b5;
  font-family: 'Ubuntu', sans-serif;
  font-size:30px;
  font-weight: bold;
  initial-letter: 0;
  line-height: 64px;
}


.header-underline-style{
  border-bottom: 4px #d281b5 solid;
  width:200px;
  margin-top: 6px;
}


.category-button {
  /* background-color: #008CBA; */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;

  background-color: white;
  color: black;
  border: 2px solid #d281b5;

  transition-duration: 0.4s;
}

.category-button:hover {
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;


  background-color: #d281b5; /* Green */
  color: white;
}

.card-image{
  height: 150px;
  width: 230px!important;
  border-radius:5px;
}

.card-title{
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.card-price{
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color:#d281b5
}

.card-description{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}